*{
    padding: 0;
    margin: 0;
}

html, body #fullheight{
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.calculator{
    height: 100%;
    background-color: black;
    

}
.buttons{
    width: 100%;
    height: 70vh;
    background-color:black;
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
}
.stl{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color:black;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin: 5PX;
    border: none;
  }
  
  .equals{
    background-color: #ff9f0a;
    
  }
  .sign{
    background: color #ff9f0a;
    border: none;
  }
.item_1{
  background-color:#A5A5A5;
}
.item_2{
  background-color: #ff9f0a;
}


.result{
    width: 100%;
    border: none;
    color: white;
    height: 30vh;
    font-size: 100px;
    background-color: black;
    text-align: right;
    
       
}
input ::placeholder{
    color:#ffff;
}
